<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Home</title>
</head>
<body>
    <%- include('utils/header') %>
    <!-- If a user is logged in-->
    <% if (user) {%>
        <h1>WELCOME <%= user.username %></h1>
        <a href="/member-status">Edit membership status</a>
        <% if (!user.is_member){ %>
            <h2>To join the discussion a membership is required.</h2>
        <% } else { %>
            <form action="/new-message" method="POST">
                <label for="title">Title</label>
                <input 
                    type="text" 
                    name="messageTitle"
                    placeholder="username" 
                    id="messageTitle"
                    maxlength="50"
                    required
                    >
                <label for="messageContent">Content</label>
                <textarea 
                    name="messageContent" 
                    id="messageContent"
                    maxlength="255"
                    required
                ></textarea>
                <button type="submit">Post message</button>
            </form>
        <% } %>
        <%if(messages != undefined) {for (let i = messages.length -1; i >= 0; i--){ %>
            <div class="message">
                <ul class="messageTitle"><%= messages[i].title %></ul>
                <p class="textContent"><%= messages[i].text_content %></p>
            </div>
        <% }} %>
    <% } else { %>
    <!--If no user is logged in -->
        <h1>Please log in to view the message board</h1>
        <% if(userCreated) { %>
            <h2>User created successfully</h2>
        <% } %>
            <form action="/log-in" method="POST">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="username" id="username">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <button type="submit">Log In</button>
            </form>
        <% if (invalidLogin == true){%>
            <p> Invalid username or password </p>
        <% } %>
            <h2>If you are new to the site, please sign up <a href="/sign-up">here</a> to join the discussion</h2>
        <%if(messages != undefined) { %>
            <!-- blurry teaser posts-->
            <div aria-hidden="true">
                <div class="message blurry">
                    <ul class="messageTitle">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</ul>
                    <p class="textContent">Modi explicabo magnam quos consequuntur voluptas voluptate fugit aperiam eaque laboriosam odio enim saepe ab, repudiandae ducimus molestias culpa ratione fuga repellat maiores laudantium minima quaerat aliquam.</p>
                </div>
                <div class="message blurry">
                    <ul class="messageTitle">Aspernatur dolorum earum totam, alias quo magni</ul>
                    <p class="textContent">Aliquam numquam dolor quidem doloribus distinctio tenetur dignissimos facere ratione ad nulla, voluptates animi? Blanditiis voluptatibus iusto beatae voluptatum asperiores natus alias illum animi doloribus incidunt ullam sunt, necessitatibus fuga mollitia obcaecati!</p>
                </div> 
            </div>
        <% } %>
    <% } %>
    <%- include('utils/footer') %>
</body>
</html>